RewriteEngine On
Options All -Indexes

RewriteRule ^assets/(.*)$ app/views/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Fíjate que al final tenga [QSA,L]
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1 [QSA,L]